{% extends "layout.html" %}

{% import 'macros.html' as macros %}

{% macro task_group(group, name) %}

{% if group[name]|length > 0 %}
<h4>{{ name|capitalize }}</h4>
<div class="list-group mb-2">

    {% for task in group[name] %}
    <div class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
        <div>{{ task.description|urlize }}</div>
        <div>
            {% if task.status not in ['deleted', 'completed'] %}
            <form action="{{ url_for('task.complete') }}" method="post" id="complete-{{ task.id }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="uuid" value="{{task.uuid}}">
                <input type="hidden" name="next" value="{{request.url}}">
            </form>
            {% endif %}

            <a href="{{ url_for('task.task', uuid=task.uuid) }}" class="btn btn-sm text-info" title="Task details" aria-label="Task details">
                <i class="fas fa-info-circle" aria-hidden="true"></i>
            </a>
            <a href="{{ url_for('task.edit', uuid=task.uuid) }}" class="btn btn-sm text-info" title="Edit task" aria-label="Edit task">
                <i class="fas fa-edit" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-sm btn-link text-info" data-toggle="modal" data-target="#annotate-modal" data-uuid="{{ task.uuid }}" title="Annotate task" aria-label="Annotate task">
                <i class="fas fa-comment" aria-hidden="true"></i>
            </button>
            {% if task.status not in ['deleted', 'completed'] %}
            <button type="submit" class="btn btn-sm btn-link text-info" role="link" title="Complete task" aria-label="Complete task" form="complete-{{ task.id }}">
                <i class="fas fa-check" aria-hidden="true"></i>
            </button>
            {% endif %}
        </div>
    </div>
        {% if task.annotations %}
        <ul class="list-unstyled ml-4">
            {% for ann in task.annotations %}
            <li><small>
                <span class="text-muted">{{ ann.entry.strftime('%Y-%m-%d') }}:</span> {{ ann|urlize }}
            </small></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}

</div>
{% endif %}

{% endmacro %}

{% macro badge(group, name, color) %}
{% set l = group[name]|length %}
{% if l > 0 %}
<span class="ml-1 badge badge-{{ color }}" title="{{ l }} {{ name }}" aria-label="{{ l }} {{ name }}">{{ l }}</span>{% endif %}
{% endmacro %}

{% block content %}
<div id="accordion" role="tablist">

    {% for name in groups  %}
    {% set group = groups[name] %}
    <div class="card">
        <a data-toggle="collapse" href="#coll-{{ loop.index0 }}" role="button" aria-expanded="false" aria-controls="coll-{{ loop.index0 }}">
            <div class="card-header" role="tab" id="heading-{{ loop.index0 }}">
                <h5 class="mb-0 d-flex justify-content-between">
                    {{ name }}
                    <span>
                    {{ badge(group, 'pending', 'primary') }}{{ badge(group, 'waiting', 'secondary') }}{{ badge(group, 'completed', 'success') }}{{ badge(group, 'other', 'info') }}
                    </span>
                </h5>
            </div>
        </a>

        <div id="coll-{{ loop.index0 }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ loop.index0 }}" data-parent="#accordion">
            <div class="card-body">
                {{ task_group(group, 'pending') }}
                {{ task_group(group, 'waiting') }}
                {{ task_group(group, 'completed') }}
                {{ task_group(group, 'other') }}
            </div>
        </div>
    </div>
    {% endfor %}

    {{ macros.annotate_modal() }}
</div>
{% endblock content %}
