{% extends "layout.html" %}

{% block content %}
<div class="row pb-4 pt-2">
    <div class="col">
        {{ error }}
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" onclick="history.back();">Go back</button>
    </div>
</div>

</div></div>
{% endblock content %}

{% block footer %}{% endblock footer %}
