{% set label = label or action|capitalize %}
<form action="{{ url_for(action) }}" method="post">
    <div>
        {{ text }}
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-link btn-sm alert-link" >{{ label }}</button>
    </div>
</form>

